/* macOS 风格的代码框样式 */
pre[class*=language-] {
    position: relative;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;
    transition: box-shadow 0.3s ease-in-out;
    max-height: 100%;
    max-width: 85%;
    padding-top: 50px;
}

/* macOS 风格的图标 */
pre[class*=language-]::before {
    content: "";
    position: absolute;
    background: url("../img/icon_mac.svg");
    background-position-y: center;
    top: 15px;
    left: 20px;
    height: 14px;
    width: 54px;
    margin-left: 5px;
    display: block;
}

/* 悬浮 */
pre[class*=language-]:hover {
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.2);
  }